<table>
    <tr>
        <th>
            <h3>Premier patient : </h3>
        </th>
        <th>
            <h3>Deuxième patient : </h3>
        </th>
        <th>
            <h3>Troisième patient : </h3>
        </th>
        <th>
            <h3>Quatrième patient : </h3>
        </th>
    </tr>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        autofocus
        bindLabel="nomPrenom"
        bindValue="id">
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        bindLabel="nomPrenom"
        bindValue="id">
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        bindLabel="nomPrenom"
        bindValue="id">
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        bindLabel="nomPrenom"
        bindValue="id">
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
</table>

<app-column-graph></app-column-graph>