<div class="typeDonnees">
    <h3>Type de données : </h3>
    <ng-select class="customSelect"
            [items]="typeDonnees"
            autofocus
            [clearable]="false"
            [searchable]="false"
            (change)="enablePatients($event)"
            #typeDonneesSelect></ng-select>
</div>
<table>
    <tr>
        <th>
            <h3>Premier patient : </h3>
        </th>
        <th>
            <h3>Deuxième patient : </h3>
        </th>
        <th>
            <h3>Troisième patient : </h3>
        </th>
        <th>
            <h3>Quatrième patient : </h3>
        </th>
    </tr>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        bindLabel="nomPrenom"
        bindValue="id"
        (change)="getPatientById($event)"
        [readonly]="disablePatients"
        #selectUn>
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        bindLabel="nomPrenom"
        bindValue="id"
        (change)="getPatientByIdDeux($event)"
        [readonly]="disablePatients"
        #selectDeux>
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        bindLabel="nomPrenom"
        bindValue="id"
        (change)="getPatientByIdTrois($event)"
        [readonly]="disablePatients"
        #selectTrois>
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
    <td>
        <ng-select class="custom"
        [items]="peoples"
        bindLabel="nomPrenom"
        bindValue="id"
        (change)="getPatientByIdQuatre($event)"
        [readonly]="disablePatients"
        #selectQuatre>
            <ng-template ng-label-tmp let-item="item">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.admin.prenom + ' ' + item.admin.nom }}</span>
            </ng-template>
        </ng-select>
    </td>
</table>

<app-column-graph [patientUn]="donnees" [patientDeux]="donneesDeux" [patientTrois]="donneesTrois" [patientQuatre]="donneesQuatre"></app-column-graph>